

#leftDuck
{
    margin: auto;
    display:block;
    width: 68%;
}
#rightDuck
{
    margin:auto;
    display: block;
    width: 68%;
}


#sub_page_heading
{
    height: 220px;
    background-color: grey;
    border:5px solid darkred;
}

#page_heading 
{
    padding-top: 15px;
    text-align:center;
}
.col-12
{
    text-align: center;
}

.mainButton
{
    margin-top: 10px;
    width: 100%;
}

.headerColumn
{
    margin-top: 10px;
    min-height: 50px;
    border: 3px solid maroon;
    background-color: darkblue;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.bodyColumn
{
    border: 3px solid maroon;
    background-color: midnightblue;
    min-height: 50px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

