
/*THESE ARE ids*/
#leftDuck
{
    transform: rotate(-10deg);
    margin: auto;
    display:block;
    width: 100%;
}
#rightDuck
{
    margin:auto;
    display: block;
    width: 100%;
    transform: scaleX(-1);
    transform: rotate(10deg);
}
#body
{
    background-color: fuchsia;
    filter: blur(0px);
}

#page_heading 
{
    padding-top: 15px;
    text-align:center;
    color: yellow;
    transform: rotate(2deg);
}

#sub_page_heading
{
    height: 220px;
    background-color: deeppink;
    border:5px solid black;
}

#inputPassword
{
    transform: rotate(1deg);
    color: blue;
    background-color: lime;
}

#inputUsername
{
    transform: rotate(-2deg);
    color: blue;
    background-color: lime;
}

#loginButton
{
    transform: rotate(1deg);
    width: 150px;
}

#createAccountButton
{
    transform: rotate(1deg);
    width: 150px;
}

#uselessButton
{
    transform: rotate(1deg);
    width: 150px;
}

/*THESE ARE classes*/
.label
{
    background-color: lime;
    border-radius: 10px;
    border:2px solid black;
}

